<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrarse
            </div>
            <div class="card-body">
                <form (submit)="signUp()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.email" class="form-control" name="email" placeholder="email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" class="form-control mt-3" name="password" placeholder="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>